DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=unsafe-local-development-secret-key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
DJANGO_LOG_LEVEL=INFO

POSTGRES_DB=qmip
POSTGRES_USER=qmip
POSTGRES_PASSWORD=qmip_dev_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

ORTHANC_URL=http://localhost:8042
ORTHANC_USERNAME=qmip
ORTHANC_PASSWORD=qmip_orthanc_dev_password
